.mainContainer{
    background-color: black;
    position: relative;
    width: 100%;
    .hero-logo {
        height: auto;
        width: 50%;
        margin: auto;
        margin-bottom: 50px;;
      }
}
